.App {
  text-align: center;
}

html,
body {
  margin: 5px;
  height: 100%;
}

div {
  box-sizing: border-box;
}

.section-header{
  font-weight: bold;
  color: #300F3C;
}

.container-half-header{
  font-weight: bold;
  color: #06813B;
}

.page-greeting{
  font-weight: bold;
  color: #E71C78
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.half-containers {
  flex: 1;
  overflow: auto;
  margin: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.column-1 {
  float: left;
  width: 26%;
 
  justify-content: right;
}

.column-2 {
  float: left;
  width: 49%;
  justify-content: center;
}

.column-3 {
  float: left;
  width: 25%;
  justify-content: center;
}

.column-4 {
  float: left;
  width: 33.33%;
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

th {
  padding: 5px;
  border: 2px solid black;
}

td {
  padding: 5px;
  border: 1px solid black;
}

