.App {
  text-align: center;
}

html,
body {
  margin: 5px;
  height: 100%;
}

div {
  box-sizing: border-box;
  /* border: 0.5px solid black; */

}

.section-header{
  font-weight: bold;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  
}

/* .left-container {
  flex: 1 1 0;
}

.right-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
} */

.half-containers {
  flex: 1;
  overflow: auto;
  margin: 20px;
  box-sizing: border-box;
  justify-content: center;

  
}

/* .mid-container {
  flex: 1 1 0;
  float:left;
 
} */

.column-1 {
  float: left;
  width: 25%;
  border:none !important;
  justify-content: center;
}

.column-2 {
  float: left;
  width: 45%;
  border:none !important;
  justify-content: center;
  border-left: 0.5px;
  border-right: 0.5px;
  border: 0.5px solid black;
}

.column-3 {
  float: left;
  width: 30%;
  border:none !important;
  justify-content: center;
}


.column-4 {
  float: left;
  width: 33.33%;
  border:none !important;
  justify-content: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  border:none !important;
}



/* html, body {
  height:100%;
  padding:10px;
  margin:0;
}
.container {
  display: grid

}
.top {
  min-height:50%;
  max-height: 50%;
  margin-bottom: 5px;
  border: solid black
 
}
.bottom {
  min-height:50%;

  margin-top: 5px;
  border-style: solid black
} */